/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add Styles Here */
body {
	width:900px;
	margin: auto;
}
a {
    text-decoration: none; 
    }
p { 
	font-family: arial; 
	font-size:16px;
	
	line-height: 1.5em;
	}
header {
position: realitive;
}
	
.art-of-seeing img {
	position: absolute;
	top: 0;
	}
section#content { 
	position: realitive; 
	width: 900px;
	height: 450px;
	
	}
article.art-of-seeing {
position: absolute; 
top: 460px;
width: 900px;

}

section#title {
float: left; 
width: 600px; 
margin: 30px 0px 0px 0px;
font-size:100px; 
font-weight:bold;
color: #332e34; 
}

section#details {
margin: -50px 0px 30px 0px;
float: right; 
width:200px;
color: #914859;
font-size:30px; 
font-weight:bold; 
}

section.copy {
	display:block;
	clear:both;
	margin: 100px 50px;
}

#footer { 
font-size:24px; 
font-weight:bold; 
color:#332e34;
postion:absolute; 
bottom: 0px; 
margin: 20px 0px  
}

#footer h1{
color: #914859;
font-size:30px; 
font-weight:bold; 
}
ul {
  border-style:double;
    border-width:4px;
    height: 40px;
    }
    
li {
float: left;
display: block;
margin: 10px;
}

#details li {
margin: 0; 
color: #914859;
width:200px;
}

footer# a:hover {
  background-color: red;
  }
